.pizza_size_selector  {
	border-radius: 20px;
	background-color: #f2f2f6;
	display: flex;
	width: 300px;
	height: 30px;
}

.pizza_menu  {
	display: flex;
	column-gap: 20px;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.size_selector_wrapper  {
	font-size: 24px;
}

.topping_selector_title  {
	font-size: 18px;

}

.topping_selector_wrapper {
	margin-top: 20px
}

.pizza_size_selector__button  {
	justify-content: space-between;
	border-width: 0px;
	box-shadow: 10px 10px 20px lightgray;
	margin: 2px;
	border-radius: 20px;
	width: 100%;
	background-color: #f2f2f6;
}

.pizza_size_selector__button--active  {
	background-color: #fdfefe;
}

.pizza_list  {
	display: flex;
}

.pizza_list_item {
	height: 200px;
	width: 200px;
	background-color: #fefefd;
	border-width: 0px;
	border-radius: 10px;
	transition-duration: .2s;
}

.pizza_list_item:hover {
	background-color: #f2f2f6;
	transition-duration: .2s;
}

.pizza_list_item--active {
	background-color: #f2f2f6;
}

.pizza_topping_selector {
	display: flex;
	border-radius: 20px;
	column-gap: 10px;
}

.pizza_topping_selector__item {
	width: 120px;
	height: 140px;
	border-width: 0px;
	box-shadow 10px 10px;
	border-radius: 20px;
	background-color: #fefefe;
	box-shadow: 10px 10px 20px lightgray;
}

.pizza_topping_selector__item__image {
	object-fit: cover;
	height: 100px;
	width: 100px;
}

.pizza_topping_selector__item--active {
	border-width: 1px;
	border-color: orange;
}

.add_to_cart  {
	background-color: #ec702c;
	font-size: 16px;
	width: 400px;
	margin-top: 50px;
	height: 100px;
	border-radius: 50px;
	border-width: 0px;
	color: white;
}
